Q1

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [12]:
l=[10,20,30,40,50,60,70,80]
print(l)
l.append(200)
print(l)
l.append(300)
print(l)
l.remove(10)
print(l)
l.remove(30)
print(l)
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Q2

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [28]:
t=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
max=0
for i in range(0,8):
    if(t[i]>t[max]):
        max=i
print("Highest score=",t[max]," and its index is=",max)

Highest score= 92  and its index is= 5

Q3

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [49]:
import random
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

rno = [random.randint(100, 900) for _ in range(100)]
co=0
ce=0
cp=0
#odd numbers
print("Odd numbers are=")
for i in rno:
    if(i%2!=0):
        co=co+1
        print(i)
print("No of odd numbers are=",co)
#even numbers  
print("Even numbers are=")
for i in rno:
    if(i%2==0):
        ce=ce+1
        print(i)
print("No of even numbers are=",ce)    
#prime numbers
print("Prime numbers are=")
for i in rno:
    if is_prime(i):
        cp=cp+1
        print(i)
print("No of prime numbers=",cp)

Odd numbers are=
809
171
289
869
361
855
575
387
375
307
801
735
629
417
529
631
583
149
745
525
319
139
185
705
285
501
383
463
615
119
475
211
345
887
723
817
655
239
113
607
193
631
333
889
497
255
493
267
283
237
761
857
No of odd numbers are= 52
Even numbers are=
656
386
624
694
428
856
116
734
350
396
282
460
876
124
298
302
740
210
544
202
658
266
108
416
398
744
744
362
662
242
872
374
738
808
324
818
656
138
822
542
484
378
294
584
320
374
340
350
No of even numbers are= 48
Prime numbers are=
809
307
631
149
139
383
463
211
887
239
113
607
193
631
283
761
857
No of prime numbers= 17

Q4

Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [43]:
A = {34, 56, 78, 90} 
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.issubset(B))
print(B.issuperset(A))
X=int(input('Enter score to be removed'))
if X in A:
    print(A.remove(X))
else:
    print("Element not found")

{34, 45, 78, 23, 56, 90}
{90, 78}
{56, 34}
False
False

Enter score to be removed 45

Element not found

Q5

Write a program to rename a key city to a location in the following dictionary.

In [36]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print(sample_dict)
del sample_dict["city"]
sample_dict["location"]="New York"
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}